<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252079004187-mkfg9c2e4rn7phtotsmkqvurd4cb7emb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252079004187-mkfg9c2e4rn7phtotsmkqvurd4cb7emb</string>
	<key>API_KEY</key>
	<string>AIzaSyBPMV5IzNJvmGbKLEuHsifLA0vJwMVxYSE</string>
	<key>GCM_SENDER_ID</key>
	<string>252079004187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnfirebase</string>
	<key>PROJECT_ID</key>
	<string>rnfirebase-d675b</string>
	<key>STORAGE_BUCKET</key>
	<string>rnfirebase-d675b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252079004187:ios:3ce5a4d7b2cceb244476be</string>
</dict>
</plist>